In [0]:
import numpy as np
import pandas as pd

In [0]:
cv=pd.read_excel("/content/TimeSeries_COVID_News.xlsx")

In [0]:
cv

     Unnamed: 0  ...                                           Agg News
0             0  ...  Updates: Pakistan: \n Three new cases have bee...
1             1  ...  Updates: Pakistan: \n Three new cases have bee...
2             2  ...  Updates: Pakistan: \n Three new cases have bee...
3             3  ...  Updates: Pakistan: \n Three new cases have bee...
4             4  ...  Updates: Pakistan: \n Three new cases have bee...
..          ...  ...                                                ...
141           2  ...  Updates: Pakistan: \n During last 24 hours, 15...
142           3  ...  Updates: Pakistan: \n During last 24 hours, 15...
143           4  ...  Updates: Pakistan: \n During last 24 hours, 15...
144           5  ...  Updates: Pakistan: \n During last 24 hours, 15...
145           6  ...  Updates: Pakistan: \n During last 24 hours, 15...

[146 rows x 4 columns]

In [0]:
cv.drop('Unnamed: 0',axis=1,inplace=True)

In [0]:
cv

                    Date  ...                                           Agg News
0            11-Mar-2020  ...  Updates: Pakistan: \n Three new cases have bee...
1            11-Mar-2020  ...  Updates: Pakistan: \n Three new cases have bee...
2            11-Mar-2020  ...  Updates: Pakistan: \n Three new cases have bee...
3            11-Mar-2020  ...  Updates: Pakistan: \n Three new cases have bee...
4            11-Mar-2020  ...  Updates: Pakistan: \n Three new cases have bee...
..                   ...  ...                                                ...
141  2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 15...
142  2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 15...
143  2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 15...
144  2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 15...
145  2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 15...

[146 rows x 3 columns]

In [0]:
cv.rename(columns={'Agg News':'Agg_News'},inplace=True)
cv['Date']=pd.to_datetime(cv.Date)
cv['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
4     2020-03-11
         ...
141   2020-04-03
142   2020-04-03
143   2020-04-03
144   2020-04-03
145   2020-04-03
Name: Date, Length: 146, dtype: datetime64[ns]

In [0]:
cv.dtypes

Date        datetime64[ns]
News                object
Agg_News            object
dtype: object

In [0]:
cv.index

RangeIndex(start=0, stop=146, step=1)

In [0]:
cv.isnull().sum()

Date        0
News        0
Agg_News    0
dtype: int64

In [0]:
cv.columns

Index(['Date', 'News', 'Agg_News'], dtype='object')

In [0]:
cv.describe()

                       Date  ...                                           Agg_News
count                   146  ...                                                146
unique                   24  ...                                                 24
top     2020-04-03 00:00:00  ...  Updates: Pakistan: \n During last 24 hours, 99...
freq                      7  ...                                                  7
first   2020-03-11 00:00:00  ...                                                NaN
last    2020-04-03 00:00:00  ...                                                NaN

[6 rows x 3 columns]

In [0]:
cv.to_excel('/content/TimeSeries_COVID_News.xlsx')