In [0]:
import pandas as pd
import numpy as np

In [0]:
c_v=pd.read_excel('/content/TimeSeries_NIH_Response.xlsx')

In [3]:
c_v

    Unnamed: 0  ...                  Agg NIH Preparedness and Response
0            0  ...  BSL-3 mobile lab with state of art equipment h...
1            1  ...  BSL-3 mobile lab with state of art equipment h...
2            2  ...  BSL-3 mobile lab with state of art equipment h...
3            3  ...  BSL-3 mobile lab with state of art equipment h...
4            0  ...  BSL-3 mobile lab is ready for testing.  • \n I...
..         ...  ...                                                ...
60           1  ...  Contact tracing of confirmed cases being carri...
61           2  ...  Contact tracing of confirmed cases being carri...
62           0  ...  Contact tracing of confirmed cases being carri...
63           1  ...  Contact tracing of confirmed cases being carri...
64           2  ...  Contact tracing of confirmed cases being carri...

[65 rows x 4 columns]

In [4]:
c_v.drop('Unnamed: 0',axis=1,inplace=True)
c_v

                   Date  ...                  Agg NIH Preparedness and Response
0           11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
1           11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
2           11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
3           11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
4           12-Mar-2020  ...  BSL-3 mobile lab is ready for testing.  • \n I...
..                  ...  ...                                                ...
60  2020-04-02 00:00:00  ...  Contact tracing of confirmed cases being carri...
61  2020-04-02 00:00:00  ...  Contact tracing of confirmed cases being carri...
62  2020-04-03 00:00:00  ...  Contact tracing of confirmed cases being carri...
63  2020-04-03 00:00:00  ...  Contact tracing of confirmed cases being carri...
64  2020-04-03 00:00:00  ...  Contact tracing of confirmed cases being carri...

[65 rows x 3 columns]

In [6]:
c_v.columns=c_v.columns.str.strip().str.replace(' ','_')
c_v.head()

          Date  ...                  Agg_NIH_Preparedness_and_Response
0  11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
1  11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
2  11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
3  11-Mar-2020  ...  BSL-3 mobile lab with state of art equipment h...
4  12-Mar-2020  ...  BSL-3 mobile lab is ready for testing.  • \n I...

[5 rows x 3 columns]

In [10]:
c_v['Date']=pd.to_datetime(c_v.Date)
c_v['Date']

0    2020-03-11
1    2020-03-11
2    2020-03-11
3    2020-03-11
4    2020-03-12
        ...
60   2020-04-02
61   2020-04-02
62   2020-04-03
63   2020-04-03
64   2020-04-03
Name: Date, Length: 65, dtype: datetime64[ns]

# **Cleaned Data**

In [11]:
c_v.describe()

                       Date  ...                  Agg_NIH_Preparedness_and_Response
count                    65  ...                                                 65
unique                   24  ...                                                 11
top     2020-03-11 00:00:00  ...  Contact tracing of confirmed cases being carri...
freq                      4  ...                                                 21
first   2020-03-11 00:00:00  ...                                                NaN
last    2020-04-03 00:00:00  ...                                                NaN

[6 rows x 3 columns]

# **Saving Data back to Excel file**

In [0]:
c_v.to_excel("/content/TimeSeries_NIH_Response.xlsx")