In [0]:

import pandas as pd
import numpy as np

In [0]:
c_v=pd.read_excel("/content/TimeSeries_Province_Response.xlsx")

In [3]:
c_v

     Unnamed: 0  ...            Agg Provinces Preparedness and Response
0             0  ...  316 newly arrived individuals screened and qua...
1             1  ...  316 newly arrived individuals screened and qua...
2             2  ...  Staff deployed to designated quarantine facili...
3             3  ...  Staff deployed to designated quarantine facili...
4             4  ...  24 High Dependency Units established across KP...
..          ...  ...                                                ...
161           2  ...  Sindh Government has disbursed Rs.569.604 mill...
162           3  ...  District level trainings of HDU/Isolation/Quar...
163           4  ...  Data transcription on to the IPMS software hos...
164           5  ...  Out of 9 confirmed cases, 6 are local transmis...
165           6  ...  Involvement of WHO staff to provide support in...

[166 rows x 5 columns]

In [0]:
c_v.columns=c_v.columns.str.strip().str.replace(' ','_')

In [7]:
c_v

          region  ...            Agg_Provinces_Preparedness_and_Response
0    Balochistan  ...  316 newly arrived individuals screened and qua...
1    Balochistan  ...  316 newly arrived individuals screened and qua...
2          Sindh  ...  Staff deployed to designated quarantine facili...
3          Sindh  ...  Staff deployed to designated quarantine facili...
4        KP & TD  ...  24 High Dependency Units established across KP...
..           ...  ...                                                ...
161        Sindh  ...  Sindh Government has disbursed Rs.569.604 mill...
162       Punjab  ...  District level trainings of HDU/Isolation/Quar...
163           KP  ...  Data transcription on to the IPMS software hos...
164          AJK  ...  Out of 9 confirmed cases, 6 are local transmis...
165           GB  ...  Involvement of WHO staff to provide support in...

[166 rows x 4 columns]

In [0]:
c_v.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
c_v['Date']=pd.to_datetime(c_v.Date)
c_v['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
4     2020-03-11
         ...
161   2020-04-03
162   2020-04-03
163   2020-04-03
164   2020-04-03
165   2020-04-03
Name: Date, Length: 166, dtype: datetime64[ns]

# **Cleaned Data**

In [8]:
c_v.describe()

             region  ...            Agg_Provinces_Preparedness_and_Response
count           166  ...                                                166
unique            8  ...                                                131
top     Balochistan  ...  Involvement of WHO staff to provide support in...
freq             36  ...                                                  3
first           NaN  ...                                                NaN
last            NaN  ...                                                NaN

[6 rows x 4 columns]

# **Saving Data back to Excel File**

In [0]:
c_v.to_excel("/content/TimeSeries_Province_Response.xlsx")